/* google fonts used */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


body{

    font-family: 'Poppins', sans-serif;
    margin:0;
   
}
    
/* menu part copa america iamge  */


.flexmenu-container{
    position: absolute;
    width: 1440px;
    height: 677px;
    align-items: center;
    
    background: #2D25A0;

}



.menu-container{
    display: flex;
   

}


/* button create */
.headline{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 24px;
}



.menu-container .headline .copatitle h1{
    position: absolute;
    width: 485px;
    height: 230px;
    left: 156px;
    top: 207px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    /* or 125% */


    color: #FFFFFF;

}

.menu-container .headline .link-button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 24px;
}

.menu-container .headline .link-button .btn-anchor{
    position: absolute;
    text-decoration: none;
    width: 168px;
    height: 44px;
    left: 156px;
    top: 515px;
   
    
    background: #E02C6D;
}

.menu-container .headline .link-button .btn-anchor .txtwatchlive{
   
position: static;
width: 88px;
height: 24px;
left: 55px;
top: 30px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
}

/* image part  */
.player-image img{
    position: absolute;
    width: 556.01px;
    height: 438px;
    left: 777px;
    top: 153px;

}

/* Players styles */

